*.lo
*.loT
*.o
*.la
*.gcda
*.gcno
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp


aclocal.m4
autom4te.cache
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
install-sh
libtool
ltmain.sh
missing
stamp-h.in
stamp-h1

src/Baseparse.c
src/Baseparse.h
src/Baselex.c
src/Baselex.h
