*.lo
*.loT
*.o
*.la
*.gcda
*.gcno
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp
*.pov
*.tar.gz
*.tar.bz2
*.tar.xz
*.exe
*.anjuta
test/*.ppm

aclocal.m4
autom4te.cache
autoregen.sh
autoscan.log
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
install-sh
libtool
ltmain.sh
missing
stamp-h.in
stamp-h1
ylwrap

src/parser.cc
src/parser.h
src/lexer.cc
src/lexer.h
src/protracer